@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.main {
    flex: 1;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.header, 
.main, 
.footer {
    background-color: #1f2937;
}

.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB

}

.hero {
    display: flex;
    justify-content: center;
    padding: 130px;
}


h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    max-width: 470px;
    margin: 0;
}


.hero-text > p {
    color: #E5E7EB;
    max-width: 470px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.links > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.hero-image {
    max-width: 700px;
    height: auto;
    margin-left: 30px;
}

button {
    padding: 10px 16px;
    background-color: #3882F6;
    color: #f9faf8;
    border: 0;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}   

.information {
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.information-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 700;
    margin: 35px;  
}

.information-container {
    display: flex;
    padding: 30px;
    justify-content: center;
    gap: 150px;
}

.card {
    flex: 1;
    text-align: center;
    max-width: 300px;

}

